.logo{
    border-radius:100%;
}
.navbar{
    height:20%;
    width: 20%;
}
img{
    height: 5%;
    width: 15%;
}
.navflex{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 2px solid #393b3b;
    
}
.navlink:hover{
    background-color: #393b3b;
    color: white;
}
.navlink{
    border: 1px solid rgb(83, 39, 39);
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgb(150, 47, 47);
    margin-right: 10px;
}
body{
    margin:20px;
}
    